<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rishad.iotd" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityGetListOfImages"
            android:label="@string/title_activity_listofimages" >
        </activity>
        <activity
            android:name=".ActivityGetTodaysImage"
            android:label="@string/title_activity_get_todays_image" >
        </activity>
        <activity
            android:name=".ActivityViewImages"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_activity_view_images"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".ActivityDeleteImages"
            android:label="@string/title_activity_activity_delete_images" >
        </activity>
    </application>

</manifest>
